.about-box-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.box{
    width: 100%;
    height: 100%;
    background-image: url('/test/photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: 1;
}
.square-shape{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.square-2-box{
    width: 115px;
    height: 160px;
    background-color: #F57005D4;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    right:50px;
    z-index: 1;
}
.dots{
    position: absolute;
    top: 5%;
    right: -30px;
    z-index: 1;

}
.circle-shape{
    position: absolute;
    bottom: 0px;
    left: -50px;
    z-index: 0;
}