.status-box-container{
    width:100%;
    position : relative;
    padding : 10px;
    border-radius : 10px;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-around;
    background-color:#F6F6F6;
    gap : 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.status-icon-left{
    z-index:1;
    width:80px;
    height:80px;
    border-radius:50%;
    background-color:#F57005;
    display:flex;
    align-items:center;
    justify-content:center;
}
.status-icon-right{
    width: 80%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    gap:10px;
}

@media (max-width: 600px) {
    .status-box-left{
        width:100% !important;
        height:10% !important;
        border-radius:10px 10px 0 0 !important;
    }
    
}