*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Urbanist', sans-serif;
}
/* 1- Landing Section */
.landing-section{
    height:90vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-image: url('/backgrounds/paper-bg.svg');
    background-size: cover;
    background-position: center;
    overflow:hidden;
}
.landing-section-content-left{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    padding-left:100px;
}
.landing-section-content-left-text{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:10px;
}
.landing-section-content-left-text-img{
    width:250px;
    height:fit-content;
}
.landing-section-content-left-text-h1{
    font-size:70px;
    font-weight:bold;
    color:#2A254D;
}
.landing-section-content-left-text-p{
    max-width:600px;
    text-align:start;
    color:#2A254D;
    font-size:20px;
}
.landing-section-content-right{
    width:50%;
    height:100%;
    position:relative;
}

/* 2- About Section */
.about-section{
    min-height:70vh;
    margin-bottom:100px;
    margin-top:100px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;

}
.about-section-content-left{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
    padding:0 50px;
}
.about-section-content-left-h1{
    font-size:40px;
    font-weight:bold;
    color:#2A254D;
    margin-bottom:20px;
}
.about-section-content-left-p{
    font-size:16px;
    margin-bottom:40px;
    font-weight:400;
    line-height:1.5;
    color:#868686;
}
.about-section-content-right{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}

/* Our Services Section */
.our-services-section{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:0 50px;
    background-image: url('/backgrounds/edu-pg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}
.our-services-section-content-upper{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    margin-bottom:30px;
}
.our-services-section-p{
    font-size:20px;
    font-weight:bold;
    color:#2A254D;
    max-width:600px;
    border-top:2px solid #F57005;
    padding-top:20px;
}
.our-services-section-content-lower{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:60px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

/* Discover Section*/
.discover-section{
    height: 70vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    margin:100px 0;
}
.discover-section-content-top{
    width: 100%;
    height: 50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    background-color: #36305d;
    position:relative;
    overflow:hidden;
}
.top-right-video{
    position:relative;
    z-index:1;
}
.top-right-video-img{
    background-color: #d4d4d41f;
    width: 100%;
    height: 100%;
    padding: 80px;
    border-radius: 50%;
    position:relative;
}
.discover-section-content-bottom{
    width: 75%;
    height: auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:20px;
    background-color: #4F5DE4;
    border-radius: 0 0 20px 20px;
    padding: 10px 0;
}

/* Feedback Section */
.feedback-section{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:0 50px;
    min-height:50vh;
    align-items:center;
}

/* Our Team Section */
.our-team-section{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:0 50px;
    align-items:center;
    position:relative;
    margin-top:100px;
    padding: 100px 0
}
.our-team-section-content{
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:80px;
    flex-wrap:wrap;
    z-index:1;
}


/* Blog Section */
.blog-section{
    padding:50px 50px;
    position:relative;
    overflow:hidden;
    min-height:100vh;
}


/* Skills Section */
.skills-section{
    padding:50px 250px;
    position:relative;
    overflow:hidden;
    min-height:30vh;
    background-color: #36305d;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.skills-left-content{
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
}
.skills-section-content-right{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.skills-section-content-right-button{
    border-radius: 50%;
    position:relative;
}

/* Media Queries */
@media (max-width: 1000px) {
    .landing-section{
        height: auto !important;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .landing-section-content-right{
        height:400px;
    }
    .landing-section-content-left{
        height:50%;
        width:100%;
        margin-top:100px;
        justify-content:center;
        align-items:start;
        padding-left:40px;
    }
    .landing-section-content-left-text-img{
        width:150px;
        height:fit-content;
    }
    .landing-section-content-left-text-h1{
        font-size:40px;
        font-weight:bold;
        color:#2A254D;
    }
    .landing-section-content-left-text-p{
        max-width:400px;
        text-align:start;
        color:#2A254D;
        font-size:20px;
    }

    /* About Section */
    .about-section{
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .about-section-content-left{
        width:100%;
    }
    .about-section-content-right{
        margin-top:80px;
        width:100%;
        height:50%;
    }
    .about-section-content-right-box{
        width: 70%;
        margin: auto;
    }


    /* Discover Section */
    .discover-section{
        height: auto !important;
        margin-bottom:100px !important;
    }
    .discover-section-content-bottom{
        flex-wrap:wrap;
    }
    .top-left-content{
        text-align:center;
    }
    .top-left-content-button{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .discover-section-content-top{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-top: 20px;
    }
    .top-right-video{
        margin:20px 0;
    }
    .line-shape-2{
        display:none;
    }
    .discover-box-num{
        font-size:30px !;
    }


    /* Services Section */
    .our-services-section{
        padding:0 20px;
    }
    .our-services-section-content-upper{
        flex-direction:column;
        align-items:start;
        justify-content:center;
    }

    /* Skills Section */
    .skills-section{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        height:auto !important;
        padding: 0;
    }
    .skills-section-content-right{
        width:100% !important;
        margin-top:30px !important;
    }
    .skills-section-content-right button{
        margin-top:0 !important;
    }
}
@media (max-width: 600px) {
    .contact-card-container{
        flex-direction:column !important;
        align-items:start !important;
        justify-content:center;
        gap:30px !important;
    }
    .contact-card-left, .contact-card-right{
        width:100% !important;
    }
    .contact-card-left{
        border-right:none !important;
        border-bottom:1px solid #F57005 !important;
        padding-bottom:30px !important;
    }
    .contact-card-right{
        padding-left:0 !important;
    }
    .status-box-container{
        flex-direction:column;
        justify-content:center;
        gap:30px;
    }
    .feedback-section{
        padding:0 5px !important;
    }
}
@media (max-width: 400px) {
.skills-left-content-img{
    width:250px !important;
    margin:0 auto !important;
}
.skills-left-content h1{
    font-size:26px !important;
    text-align:center !important;
}
}